li {
    list-style: none;
    width: 90%;
    padding: 5px;
    color: rgb(5, 5, 1);
}

#titulo1 {
    color: rgb(18, 214, 248);
}

#h3 {
    color: rgb(13, 3, 27);
}
#h33 {
    color: rgb(13, 3, 27);
}
#tweet {
    width: 100%;
    color: #1c0744;
    
   
}

#btn_guardar {
    margin: 10px auto;
    width: 100%;
    color:rgb(253, 6, 158);
    background: #88e2e9;
    border-color: #b394e5;

}


#mensajes{
    text-align: center;
    margin: auto;
    display: block;
}
.btnEliminar {
    color: rgb(241, 64, 73);
    float: right;
    cursor: pointer;
    font-size: 20px !important;
}
.tw {
    color: #f17fd9;
    
}
